.reviewsPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.reviewsh3 {
    margin-top: 30px;
    text-align: center;
    font-weight: 300;
    font-size: 12px;

    background: #FFBD00;
    background: linear-gradient(to right, #FFBD00 25%, #FF003D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.slider {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.reviewSpot {
    display: flex;
    width: 80%;
    background-color: black;
    padding: 15px;
    border-radius: 25px;
    gap: 15px;
}

.customerPhoto{
    height: 150px;
    border-radius: 25px;
}

.customerQuote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customerText {
    color: #FFBD00;
}

.customerNick {
    color: #A259FF;
}